@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ODataBookStore.Models.Book
@{
    ViewData["Title"] = "Create";
}

<h4>Create Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for=@Model.ISBN class="control-label"></label>
                <input asp-for=@Model.ISBN class="form-control" />
                <span asp-validation-for=@Model.ISBN class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for=@Model.Title class="control-label"></label>
                <input asp-for=@Model.Title class="form-control" />
                <span asp-validation-for=@Model.Title class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for=@Model.Author class="control-label"></label>
                <input asp-for=@Model.Author class="form-control" />
                <span asp-validation-for=@Model.Author class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for=@Model.Price class="control-label"></label>
                <input asp-for=@Model.Price class="form-control" />
                <span asp-validation-for=@Model.Price class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for=@Model.LocationName class="control-label"></label>
                <input asp-for=@Model.LocationName class="form-control" />
                <span asp-validation-for=@Model.LocationName class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for=@Model.PressId class="control-label"></label>
                <input asp-for=@Model.PressId class="form-control" />
                <span asp-validation-for=@Model.PressId class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
